build:pi --compiler=clang
test:pi --compiler=clang
build:pi --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
test:pi --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
build:pi --cpu=armeabihf
test:pi --cpu=armeabihf

build:clang --compiler=clang
test:clang --compiler=clang
build:clang --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
test:clang --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
