build:pi --compiler=clang
build:pi --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
build:pi --cpu=armeabihf

build:clang --compiler=clang
build:clang --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain

build --cxxopt=-std=c++17 --conlyopt=-std=c11

# Address sanitizer
build:asan --strip=never
build:asan --copt -fsanitize=address
build:asan --copt -DADDRESS_SANITIZER
build:asan --copt -O1
build:asan --copt -g
build:asan --copt -ggdb
build:asan --copt -fno-omit-frame-pointer
build:asan --linkopt -fsanitize=address

test:asan --strip=never
test:asan --copt -fsanitize=address
test:asan --copt -DADDRESS_SANITIZER
test:asan --copt -O1
test:asan --copt -g
test:asan --copt -ggdb
test:asan --copt -fno-omit-frame-pointer
test:asan --linkopt -fsanitize=address

# Memory sanitizer
build:msan --strip=never
build:msan --copt -fsanitize=memory
build:msan --copt -DMEMORY_SANITIZER
build:msan --copt -O1
build:msan --copt -g
build:msan --copt -ggdb
build:msan --copt -fno-omit-frame-pointer
build:msan --linkopt -fsanitize=memory

test:msan --strip=never
test:msan --copt -fsanitize=memory
test:msan --copt -DMEMORY_SANITIZER
test:msan --copt -O1
test:msan --copt -g
test:msan --copt -ggdb
test:msan --copt -fno-omit-frame-pointer
test:msan --linkopt -fsanitize=memory
