# (n)vim lock files
*.swp
*.swo

# symlink to external directories
external
external/*

# Compile commands (output by Hedron)
compile_commands.json

# Bazel outputs
bazel-*

# imgui saved state
imgui.ini

# Misc
.cache
.cache/*
.clangd
.clangd/*
